.CartItem {
    height: 40%;
    width: 30%;
    padding: 10px;
    border: solid 1px gray;
    box-shadow: 0 1px 4px 0 #ededf2, 0 0 0 1px #f1f1f1;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
}

.productThumbnail {
    height: 90%;
    width: 100%;
}

.productThumbnail img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.aboutProduct {
    background-color: bisque;
    /* border-top: solid 1px gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /* padding: 0 5px; */
    /* margin-bottom: 0; */
}

.aboutProduct span {
    color: gray;
    font-weight: 300;
}

.aboutProduct button {
    color: green;
    background-color: aliceblue;
    font-weight: 300;
    outline: none;
    border: solid 1px gray;
    border-radius: 5px;
}